@font-face {
  font-family: 'Manrope-Regular';
  src: local('Manrope'), url('../fonts/Manrope-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Manrope-Semibold';
  src: local('Manrope'), url('../fonts/Manrope-Semibold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
