</main> 
  <footer class="footer">
    <div class="footer__container">
      <h4 class="footer__title">Обращение граждан:</h4>
      <ul class="footer__contacts">
        <li>
          <span>Тел: </span>
          <a href="tel:+7 (3919) 76-55-50">+7 (3919) 76-55-50</a>
        </li>
        <li>
          <span>Факс: </span>
          <a href="fax:+7 (3919) 74-62-77">+7 (3919) 74-62-77</a>
        </li>
        <li>
          <span>E-mail: </span>
          <a href="mailto:sovet@adm.k26.ru" class="red">sovet@adm.k26.ru</a>
        </li>
      </ul>

      <div class="footer__emblem">
        <img src="/img/emblem2.png" alt="Герб ЗАТО города Железногорска" />
        <p class="white">Совет Депутатов ЗАТО <span> г. Железногорск</span></p>
      </div>
      <ul class="footer__nav">
        <li><a href="/">Главная</a></li>
        <li><a href="/council">Совет депутатов</a></li>
        <li><a href="/activity">Деятельность совета</a></li>
      </ul>
      <ul class="footer__nav">
        <li><a href="/corpus">Депутатский корпус</a></li>
        <li><a href="/documents">Документы</a></li>
        <li><a href="/news?p=1">Новости</a></li>
      </ul>
      <ul class="footer__nav">
        <li><a href="/contacts">Контакты</a></li>
        <li><a href="/corruption">Противодействие коррупции</a></li>
      </ul>

      <p class="footer__copyright">
        © 2010-2020<br />Администрация ЗАТО г. Железногорск, ул. 22 Партсъезда, 21,
        <span> г. Железногорск, </span> Красноярский край, Россия, 662971
      </p>
      <a href="#" class="footer__policy">Политика конфиденциальности</a>
      <ul class="footer__socials">
        <li>
          <a href="#">
            <img src="/svg/vk.svg" alt="ВКонтакте" />
          </a>
        </li>
        <li>
          <a href="#">
            <img src="/svg/inst.svg" alt="Инстаграм" />
          </a>
        </li>
        <li>
          <a href="#">
            <img src="/svg/ok.svg" alt="Одноклассники" />
          </a>
        </li>
        <li>
          <a href="#">
            <img src="/svg/fb.svg" alt="Фейсбук" />
          </a>
        </li>
      </ul>
    </div>
  </footer>

  <script>
    const fileName = document.location.pathname.split('/')[1];
  </script>
  <script src="/js/libs/libs.js"></script>
  <script src="/js/slider.js"></script>
  <script src="/js/jquery.eventCalendar.js"></script>
  <script src="/js/eventsCalendar.js"></script>
  <script src="/js/promo.js"></script> 
  <script src="/js/menu-mobile.js"></script>
  <script src="/js/activity.js"></script>
  <script src="/js/council.js"></script>
  <script src="/js/documents.js"></script>
  <script src="/js/dropdown.js"></script>
  <script src="/js/news.js"></script>
  <script src="/js/popup.js"></script>
  <script src="/js/share.js"></script>
  
  </body>
</html>