<header class="header">
  <div class="header__top">
    <a href="/">
      <img src="/img/emblem.png" alt="Герб ЗАТО города Железногорска" />
    </a>
    <h2 class="header__title">
      Совет депутатов ЗАТО<br />
      г. Железногорск
    </h2>
    {{> site-search}}
    <a class="button reception__button" href="/reception">Онлайн-приемная</a>
    <button class="burger"><span></span></button>
  </div>

  {{> navbar }}
</header>
<main>