<div
  class="ya-share2"
  data-curtain
  data-shape="round"
  data-services="vkontakte,facebook,odnoklassniki,telegram,whatsapp"
  data-color-scheme="whiteblack"
  data-size="l"
  data-title="{{article.title}}"
  {{!-- data-image="{{article.img}}" --}}
  {{!-- data-description="{{article.text}}" --}}
  data-lang="ru"
  data-access-token:facebook="EAAI4BG12pyIBAJKcYNMbLMmkZBi1lZAGsl1puSZAxMw8HliqUCEjKn1pDXn47afRyvzam6wvZBZAP8gFpjmnTvZApJ4BAkarkJenbCBL8j7WQDqyxowH4oJObeUPg1OXMccTxdrQ0Lu7qE38xRlFIcYZApLK1ARagVIs8ZCC9K9P50W2d3Ik0byV"
></div>
