<div
  class="ya-share2"
  data-curtain
  data-shape="round"
  data-more-button-type="short"
  data-services="vkontakte,facebook,odnoklassniki,telegram,whatsapp"
  data-color-scheme="whiteblack"
  data-size="l"
  data-title="{{article.title}}"
  data-image="{{article.img}}"
  data-description="{{article.text}}"
  data-lang="ru"
></div>