<header class="header">
  <div class="header__top">
    <ul class="header__info">
      <li>
        <img src="/svg/geo.svg" alt="Адрес">
        г. Железногорск, ул. 22 Партсъезда, 21</li>
      <li>
        <img src="/svg/clock.svg" alt="График работы">
        Пн-пт 10:00-20:00
      </li>
      <li>
        <img src="/svg/phone.svg" alt="Телефоны контактной связи">
        <a href="tel:(3919) 76-55-77">(3919) 76-55-77</a>, 
        <a href="tel:74-63-38">74-63-38</a>
      </li>
      <li>
        <img src="/svg/mail.svg" alt="Почтовые ящики">
        <a href="mailto:sovet@adm.k26.ru">sovet@adm.k26.ru</a>,
        <a href="mailto:lvg57@yandex.ru">lvg57@yandex.ru</a>
      </li>
    </ul>
    <button class="burger"><span></span></button>
  </div>

  {{> landing/navbar }}
</header>
<main>