<nav class="header__nav">
  <ul>                                                                                                                               
    <li><a href="#about">О службе</a></li>
    {{#if blocks.length}}
      {{#each blocks}}
        <li><a href="#{{@index}}">{{blockTitle}}</a></li>
      {{/each}}
    {{/if}}
    <li class="header__eye bvi-open">
      <a href="#">
        <img src="/svg/eye.svg" alt="Версия для слабовидящих" />
        <span>Версия для слабовидящих</span>
      </a>
    </li>
  </ul>
  <button class="close close--animate"></button>
</nav>