<nav class="header__nav">
  <ul>                                                                                                                               
    <li><a href="#about">О службе</a></li>
    <li><a href="#">Структура КРС</a></li>
    <li><a href="#">Кадровое обеспечение</a></li>
    <li><a href="#">Деятельность КРС</a></li>
    <li><a href="#">Документация</a></li>
    <li><a href="#">Контакты</a></li>
    <li class="header__eye bvi-open">
      <a href="#">
        <img src="/svg/eye.svg" alt="Версия для слабовидящих" />
        <span>Версия для слабовидящих</span>
      </a>
    </li>
  </ul>
  <button class="close close--animate"></button>
</nav>