.close {
  position: absolute;
  top: 20px;
  right: -60px;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: none;
  outline: none;
  z-index: 101;
  transition: 0.3s ease-in 0s;

  &::after,
  &::before {
    position: absolute;
    content: '';
    top: 50%;
    left: 0;
    width: 30px;
    height: 2px;
    background-color: #fff;
  }
  &::after {
    transform: rotate(45deg);
  }
  &::before {
    transform: rotate(-45deg);
  }
}
.close--animate {
  right: 20px;
  transform: rotate(-180deg);
  transition: 0.3s ease-in 1s !important;
}
