.corruption {
  ul {
    padding-left: 1.3em;
    list-style: disc;
  }
  li:not(:last-of-type) {
    margin-bottom: 2%;
  }
}
.corruption__title {
  margin-bottom: 35px;
  white-space: nowrap;
}
.corruption__text {
  margin-right: 30px;
  font-size: 18px;
  line-height: 150%;

  a {
    color: #000;
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
}

@media (max-width: 1600px) {
  .corruption__text {
    font-size: 16px;
  }
}
@media (max-width: 1200px) {
  .corruption {
    row-gap: 15px;
  }
  .corruption__text {
    font-size: 14px;
  }
}
@media (max-width: 900px) {
  .corruption {
    row-gap: 25px;
  }
  .corruption__text {
    font-size: 14px;
  }
}
@media (max-width: 440px) {
  .corruption__text {
    font-size: 12px;
  }
}
