.details {
  padding: 0;
  font-family: $reg;
  text-align: left;
  border: none;
  background: transparent;
  cursor: pointer;

  span {
    margin-right: 17px;
  }
  img {
    transition: ease 0.35s;
  }
  &:active,
  &:focus {
    outline: none;
  }
}
.details,
.details span {
  font-size: 18px;
  line-height: 120%;
  text-decoration: none;
  color: $red;
}
.open.details {
  img {
    transform: rotate(-180deg);
  }
}

.collapsible {
  position: relative;
}

.details__content {
  // position: absolute;
  // top: 70%;
  // left: 0;
  // width: 100%;
  padding: 0 15px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-out;
  // border-radius: 0 0 6px 6px;
  // background-color: $gray;
  // box-sizing: border-box;
  // box-shadow: $shadow;
  // z-index: 100;
}

@media (max-width: 1440px) {
  .details,
  .details span {
    font-size: 16px;
  }
  .details {
    img {
      width: 15px;
    }
    span {
      margin-right: 5px;
    }
  }
}
@media (max-width: 900px) {
  .details {
    font-size: 14px;

    span {
      font-size: 14px;
    }
    img {
      width: 12px;
    }
  }
}
@media (max-width: 440px) {
  .details {
    font-size: 12px;
    line-height: 14px;

    span {
      margin-right: 5px;
      font-size: 12px;
      line-height: 14px;
    }
    img {
      width: 10px;
    }
  }
}
