.documents__container {
  display: grid;
  grid-template-rows: auto;
  column-gap: 35px;
}
.documents__block {
  display: grid;
  grid-template-rows: 70px auto;

  .subtitle {
    grid-row-start: 1;
    grid-row-end: 2;
    align-self: end;
    white-space: nowrap;
  }
}
.documents__item {
  display: flex;
  justify-content: space-between;
  padding: 30px 20px;
  font-size: $reg;
  font-size: 20px;
  line-height: 120%;
  border-radius: 8px;
  transition: ease-in 0.3s;

  &:hover {
    background-color: #f8f8f8;
  }
  a {
    display: flex;
    align-items: center;
    text-decoration: none;
  }
  a:first-child {
    flex-grow: 1;
  }
  .subtitle {
    margin: 0;
    margin-left: 15px;
  }
}
.documents__button {
  padding: 10px 20px;
}

@media (max-width: 1600px) {
  .documents__item {
    font-size: 18px;

    li {
      font-size: 16px;
    }
  }
}
@media (max-width: 1200px) {
  .documents__list {
    padding: 20px;
  }
  .documents__item {
    font-size: 16px;

    &::after {
      transform: scale(0.8);
    }
    &.open::after {
      transform: scale(0.8) rotate(180deg);
    }
    li {
      font-size: 14px;
    }
  }
}
@media (max-width: 900px) {
  .documents__item {
    font-size: 16px;

    li {
      font-size: 14px;
    }
    &::after {
      transform: scale(0.6);
    }
    &.open::after {
      transform: scale(0.6) rotate(180deg);
    }
  }
}
@media (max-width: 768px) {
  .documents__folder-icon {
    width: 40px;
    height: 40px;
  }
  .documents__item {
    padding: 15px;
  }
}
@media (max-width: 600px) {
  .documents__container {
    grid-row-gap: 20px;
  }
  .documents__folder-icon {
    width: 35px;
    height: 35px;
  }
  .documents__item {
    padding: 0;

    .subtitle {
      font-size: 16px;
    }
  }
  .documents__button {
    display: none !important;
  }
}
@media (max-width: 440px) {
  .documents .d-flex {
    margin-bottom: 30px;
  }
  .documents__container {
    margin-bottom: 30px;
  }
  .documents__item {
    font-size: 12px;
    line-height: 150%;

    .subtitle {
      font-size: 14px;
    }
    &::after {
      transform: scale(0.5);
    }
    &.open::after {
      transform: scale(0.5) rotate(180deg);
    }
    ul {
      padding-left: 5px;
      padding-top: 5px;
    }
    li {
      margin-bottom: 5px;
      font-size: 12px;
    }
  }
}
