.documents__container {
  display: grid;
  grid-template-rows: auto;
  column-gap: 35px;
}
.documents__block {
  display: grid;
  grid-template-rows: 70px auto;

  .subtitle {
    grid-row-start: 1;
    grid-row-end: 2;
    align-self: end;
    white-space: nowrap;
  }
}
.documents__item {
  display: flex;
  justify-content: space-between;
  padding: 30px 20px;
  font-size: $reg;
  font-size: 20px;
  line-height: 120%;
  border-radius: 8px;
  transition: ease-in 0.3s;

  &:hover {
    background-color: #f8f8f8;
  }
  a {
    display: flex;
    align-items: center;
    text-decoration: none;
  }
  a:first-child {
    flex-grow: 1;
  }
  .subtitle {
    margin: 0;
    margin-left: 15px;
  }
}
.documents__download {
  padding: 10px 20px;
  background-color: $red;
  border-radius: 6px;
  transition: ease-in 0.3s;

  span {
    margin-left: 15px;
    font-family: $semi;
    font-size: 20px;
    line-height: 150%;
    color: #fff;
  }
  &:hover {
    background-color: $d-red;
  }
}

@media (max-width: 1600px) {
  .documents__item {
    font-size: 18px;

    li {
      font-size: 16px;
    }
  }
  .documents__download span {
    font-size: 18px;
  }
}
@media (max-width: 1200px) {
  .documents__container {
    grid-template-columns: 1fr 1fr;
  }
  .documents__list {
    padding: 20px;
  }
  .documents__item {
    font-size: 16px;

    &::after {
      transform: scale(0.8);
    }
    &.open::after {
      transform: scale(0.8) rotate(180deg);
    }
    li {
      font-size: 14px;
    }
  }
  .documents__download span {
    font-size: 16px;
  }
}
@media (max-width: 900px) {
  .documents__container {
    grid-template-columns: 1fr;
    row-gap: 25px;
  }
  .documents__item {
    font-size: 16px;

    li {
      font-size: 14px;
    }
    &::after {
      transform: scale(0.6);
    }
    &.open::after {
      transform: scale(0.6) rotate(180deg);
    }
  }
  .documents .d-flex {
    display: block;
  }
}
@media (max-width: 440px) {
  .documents__container {
    margin-bottom: 30px;
    grid-template-columns: 1fr;
    row-gap: 0px;
  }
  .documents__item {
    font-size: 12px;
    line-height: 150%;

    &::after {
      transform: scale(0.5);
    }
    &.open::after {
      transform: scale(0.5) rotate(180deg);
    }
    ul {
      padding-left: 5px;
      padding-top: 5px;
    }
    li {
      margin-bottom: 5px;
      font-size: 12px;
    }
  }
  .documents__download {
    span {
      margin-right: 15px;
      font-size: 12px;
    }
    img {
      transform: scale(0.8);
    }
  }
}
