.find__wrapper {
  font-size: 18px;
  line-height: 160%;
  column-gap: 35px;

  div {
    width: 50%;
  }
  .searchHolder {
    position: relative;
    width: 100%;
    margin-bottom: 35px;

    .form__field {
      margin-bottom: 0;
    }
  }
  .autoFillBar {
    display: none;
    position: absolute;
    width: 100%;
    max-height: 500px;
    padding: 15px 30px;
    border-radius: 0 0 6px 6px;
    background: $gray;
    box-sizing: border-box;
    border: 1px solid $d-gray;
    z-index: 100;
    overflow: auto;

    .item {
      width: 100%;
      padding: 10px;
      margin-bottom: 15px;
      font-size: 14px;
      font-weight: normal;
      line-height: 150%;
    }
    .item:hover,
    .item.active {
      background-color: #e6e6e6;
      border-radius: 6px;
      cursor: pointer;
    }
  }
  .hide {
    display: none;
  }
}

@media (max-width: 1600px) {
  .find__text {
    font-size: 16px;
  }
}
@media (max-width: 1440px) {
  .find__text {
    font-size: 16px;
  }
}
@media (max-width: 900px) {
  .find__wrapper {
    flex-direction: column;

    div,
    form {
      width: 100%;
    }
    .form__field {
      margin-bottom: 20px;
    }
  }
  .find__text {
    margin-bottom: 25px;
  }
}
@media (max-width: 440px) {
  .find__text {
    font-size: 14px;
    line-height: 160%;
  }
}
