.search {
  margin-bottom: 60px;
  padding: 20px 35px;
  height: fit-content;
  width: 100%;
  font-size: 18px;
  color: #9b9b9b;
  border: none;
  border-radius: 6px;
  background-color: #f8f8f8;
  background-image: url('../svg/search-red.svg');
  background-repeat: no-repeat;
  background-position: 96% center;

  &:focus {
    // outline-color: rgb(197, 197, 197) !important;
    outline: none;
    box-shadow: 0 0 6px rgb(197, 197, 197) !important;
    background-image: none;
  }
  &:hover,
  &:focus,
  &:active {
    box-shadow: 0 0 6px rgb(197, 197, 197) !important;
    background-color: transparent !important;
  }
}

@media (max-width: 1200px) {
  .search {
    margin-bottom: 30px;
    padding: 20px 30px;
    font-size: 16px;
  }
}
@media (max-width: 900px) {
  .search {
    padding: 25px 35px;
    width: 100%;
  }
}
@media (max-width: 600px) {
  .search {
    margin-bottom: 30px;
    padding: 20px 30px;
    font-size: 14px;
  }
}
@media (max-width: 440px) {
  .search {
    margin-bottom: 15px;
    padding: 20px 20px;
    width: 100%;
    font-size: 12px;
    background-size: 9%;
  }
}
