.slick-slide {
  &:focus,
  &:active {
    outline: none;
  }
}

.slider__nav {
  display: flex;
  align-items: center;
}
.slider__buttons {
  max-height: 46px;
}
.slider__buttons button {
  width: 46px;
  height: 46px;
  border-radius: 6px;
  border: none;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;

  &:focus {
    outline: none;
  }
  &:hover {
    box-shadow: 0 0 6px rgb(197, 197, 197);
  }
  &:active {
    box-shadow: inset 0 2px 5px -1px rgba(0, 0, 0, 0.5);
  }
}
.slider__prev {
  margin-right: 45px;
  background-color: #e6e6e6;
  background-image: url('../svg/prev.svg');

  &:active {
    background-color: #c9c7c7;
  }
}
.slider__next {
  margin-right: 35px;
  background-color: $red;
  background-image: url('../svg/next.svg');
  &:active {
    background-color: $d-red;
  }
}
.slider__counter {
  font-size: 20px;
  line-height: 130%;
  color: $d-gray;
}

@media (max-width: 1600px) {
  .slider__buttons button {
    width: 42px;
    height: 42px;
  }
  .slider__counter {
    font-size: 18px;
  }
}
@media (max-width: 1440px) {
  .slider__buttons button {
    width: 40px;
    height: 40px;
  }
  .slider__prev {
    margin-right: 40px;
  }
  .slider__next {
    margin-right: 30px;
  }
  .slider__counter {
    font-size: 16px;
  }
}
@media (max-width: 440px) {
  .slider img {
    margin-right: 0;
    width: 100%;
  }
  .slider__buttons {
    max-height: 30px;
  }
  .slider__buttons button {
    width: 30px;
    height: 30px;
  }
  .slider__counter {
    font-size: 18px;
  }
}
