.about__block {
  display: grid !important;
  grid-template-columns: 1fr 1fr;
  column-gap: 35px;
  margin-bottom: 35px;

  img {
    height: 100%;
    max-height: 350px;
    object-fit: cover;
    border-radius: 6px;
  }
  div {
    display: flex;
    flex-direction: column;
  }
}
.about__more {
  margin-top: auto;
}

@media (max-width: 1600px) {
  .about__text {
    font-size: 16px;
  }
}
@media (max-width: 1440px) {
  .about__text {
    font-size: 14px;
  }
  .about__block {
    column-gap: 25px;
    margin-bottom: 25px;
  }
}
@media (max-width: 1200px) {
  .about__text {
    line-height: 150%;
  }
}
@media (max-width: 768px) {
  .about__block {
    margin-bottom: 10px;
    display: flex !important;
    flex-direction: column;

    img {
      margin-bottom: 20px;
      order: 1;
    }
    div {
      order: 2;
    }
  }
}
@media (max-width: 440px) {
  // .about__block {
  //   grid-template-columns: 1fr;
  //   row-gap: 30px;
  // }
  .about__more {
    display: block;
    line-height: 54px;
  }
  .about__text {
    font-size: 12px;
    line-height: 18px;
  }
}
