<main>
  <section class="ativity">
    <h2 class="title">Деятельность совета</h2>
    <div class="activity__container">
      <div class="activity__block">
        <h3 class="subtitle">Работа комиссий</h3>
        <ul class="activity__list">
          <li class="activity__item active">
            Комиссия по бюджету, финансам и налогам
            <ul>
              <li><a href="#">Пункт 1</a></li>
              <li><a href="#">Пункт 2</a></li>
              <li><a href="#">Пункт 3</a></li>
            </ul>
          </li>
          <li class="activity__item">
            Комиссия по вопросам экономики, собственности и ЖКХ
            <ul>
              <li><a href="#">Пункт 1</a></li>
              <li><a href="#">Пункт 2</a></li>
              <li><a href="#">Пункт 3</a></li>
            </ul>
          </li>
          <li class="activity__item">
            Комиссия по вопросам местного самоуправления и законности
            <ul>
              <li><a href="#">Пункт 1</a></li>
              <li><a href="#">Пункт 2</a></li>
              <li><a href="#">Пункт 3</a></li>
            </ul>
          </li>
          <li class="activity__item">
            Комиссия по социальным вопросам
            <ul>
              <li><a href="#">Пункт 1</a></li>
              <li><a href="#">Пункт 2</a></li>
              <li><a href="#">Пункт 3</a></li>
            </ul>
          </li>
        </ul>
      </div>

      <div class="activity__block">
        <h3 class="subtitle">Публичные слушания</h3>
        <ul class="activity__list">
          <li class="activity__item">По проекту бюджета</li>
          <li class="activity__item">По отчёту об исполнении бюджета</li>
          <li class="activity__item">По Уставу</li>
          <li class="activity__item">По стратегии СЭР</li>
        </ul>
      </div>

      <div class="activity__block">
        <h3 class="subtitle">Сессии</h3>
        <ul class="activity__list">
          <li class="activity__item">Повестки заседаний</li>
          <li class="activity__item">Проекты решений</li>
        </ul>
      </div>
    </div>
  </section>
</main>