<section class="contacts">
  <div>
    <h2 class="title">Контакты</h2>
    <ul class="contacts__list">
      <li>
        <img src="/svg/geo.svg" alt="Адрес">
        <p>
          <span>662971, Красноярский край,</span><br>
          <span>г.Железногорск, ул. 22 Партсъезда, 21</span>
        </p>
      </li>
      <li>
        <img src="/svg/phone.svg" alt="Телефон">
        <p>
          <a href="tel:+7 (3919) 76-55-50">+7 (3919) 76-55-50</a>
          <a href="tel:+7 (3919) 74-69-24">+7 (3919) 74-69-24 (приемная)</a>
        </p>
      </li>
      <li>
        <img src="/svg/fax.svg" alt="Факс">
        <a href="fax:+7(3919) 74-62-77">+7(3919) 74-62-77 (факс)</a>
      </li>
      <li>
        <img src="/svg/mail.svg" alt="Почта">
        <p>
          <a href="mailto:sovet@adm.k26.ru">sovet@adm.k26.ru</a>
          <a href="mailto:sovetdeputatov2012@yandex.ru">sovetdeputatov2012@yandex.ru</a>
        </p>
      </li>
    </ul>
  </div>
  <iframe class="contacts__map" src="https://yandex.ru/map-widget/v1/?um=constructor%3A774b49323a42416816095e30a0a81bb23d2afbd2d75f516d1b651664065f772c&amp;source=constructor" width="100%" height="100%" frameborder="0"></iframe>
</section>