<main>
  <section class="corpus">
    <h2 class="title">Депутатский корпус</h2>
    <div class="corpus__container">
      <figure class="corpus__data">
        <img
          class="corpus__photo"
          src="./img/corpus.jpg"
          alt="Депутат Антонов Эдуард Юрьевич"
        />
        <figcaption class="corpus__caption">
          <h4 class="corpus__name">Антонов Эдуард Юрьевич</h4>
          <p class="corpus__post">
            Член комиссии по вопросам местного самоуправлении и законности
          </p>
          <a href="#" class="details">Подробнее</a>
        </figcaption>
      </figure>
      <figure class="corpus__data">
        <img
          class="corpus__photo"
          src="./img/corpus.jpg"
          alt="Депутат Антонов Эдуард Юрьевич"
        />
        <figcaption class="corpus__caption">
          <h4 class="corpus__name">Антонов Эдуард Юрьевич</h4>
          <p class="corpus__post">
            Член комиссии по вопросам местного самоуправлении и законности
          </p>
          <a href="#" class="details">Подробнее</a>
        </figcaption>
      </figure>
      <figure class="corpus__data">
        <img
          class="corpus__photo"
          src="./img/corpus.jpg"
          alt="Депутат Антонов Эдуард Юрьевич"
        />
        <figcaption class="corpus__caption">
          <h4 class="corpus__name">Антонов Эдуард Юрьевич</h4>
          <p class="corpus__post">
            Член комиссии по вопросам местного самоуправлении и законности
          </p>
          <a href="#" class="details">Подробнее</a>
        </figcaption>
      </figure>

      <figure class="corpus__data">
        <img
          class="corpus__photo"
          src="./img/corpus.jpg"
          alt="Депутат Антонов Эдуард Юрьевич"
        />
        <figcaption class="corpus__caption">
          <h4 class="corpus__name">Антонов Эдуард Юрьевич</h4>
          <p class="corpus__post">
            Член комиссии по вопросам местного самоуправлении и законности
          </p>
          <a href="#" class="details">Подробнее</a>
        </figcaption>
      </figure>
      <figure class="corpus__data">
        <img
          class="corpus__photo"
          src="./img/corpus.jpg"
          alt="Депутат Антонов Эдуард Юрьевич"
        />
        <figcaption class="corpus__caption">
          <h4 class="corpus__name">Антонов Эдуард Юрьевич</h4>
          <p class="corpus__post">
            Член комиссии по вопросам местного самоуправлении и законности
          </p>
          <a href="#" class="details">Подробнее</a>
        </figcaption>
      </figure>
      <figure class="corpus__data">
        <img
          class="corpus__photo"
          src="./img/corpus.jpg"
          alt="Депутат Антонов Эдуард Юрьевич"
        />
        <figcaption class="corpus__caption">
          <h4 class="corpus__name">Антонов Эдуард Юрьевич</h4>
          <p class="corpus__post">
            Член комиссии по вопросам местного самоуправлении и законности
          </p>
          <a href="#" class="details">Подробнее</a>
        </figcaption>
      </figure>
    </div>
  </section>

  <section class="find">
    <div class="find__wrapper d-flex">
      <div>
        <h2 class="title">Найди своего депутата</h2>
        <p class="find__text">
          Введите адрес своего проживания и узнайте, какой депутат отвечает за ваш округ!
        </p>
      </div>
      <form class="form" action="#">
        <input
          class="form__field"
          type="search"
          placeholder="Введите адерс своего проживания*"
        />
        <button class="button form__button">Найти</button>
      </form>
    </div>
  </section>

  <section class="activities">
    <h2 class="title">Деятельность депутатов Совета депутатов</h2>
    <div class="activities__slider">
      <figure class="preview">
        <img class="preview__image" src="img/activities-1.jpg" />
        <figcaption class="preview__caption">
          <h4 class="preview__title">Девять тысяч детей получили сладкие подарки</h4>
          <p class="preview__text">
            Бесплатные сладкие подарки получили воспитанники детских садов, учащиеся начальной
            школы с 1 по 4 классы. Всего было приобретено 9 109 подарков.
          </p>
          <div class="preview__footer">
            <time pubdate>25.11.2020</time>
            <p class="preview__views">
              <img class="preview__eye" src="svg/views.svg" />
              <span class="preview__count">327</span>
            </p>
          </div>
        </figcaption>
      </figure>
      <figure class="preview">
        <img class="preview__image" src="img/activities-2.jpg" />
        <figcaption class="preview__caption">
          <h4 class="preview__title">
            В 2021 году будет благоустроена территория на 9-ом квартале
          </h4>
          <p class="preview__text">
            4 декабря в микрорайоне Первомайский состоялось выездное совещание. Глава ЗАТО г.
            Железногорск Игорь Куксин, первый заместитель Алексей Сергейкин, специалист
            Управления градостроительства...
          </p>
          <div class="preview__footer">
            <time pubdate>25.11.2020</time>
            <p class="preview__views">
              <img class="preview__eye" src="svg/views.svg" />
              <span class="preview__count">327</span>
            </p>
          </div>
        </figcaption>
      </figure>
      <figure class="preview">
        <img class="preview__image" src="img/activities-3.jpg" />
        <figcaption class="preview__caption">
          <h4 class="preview__title">
            Депутат ЗС Пётр Гаврилов передал технику врачам Клинической больницы
          </h4>
          <p class="preview__text">
            В рамках работы краевого волонтёрского центра партии «Единая Россия» по просьбе
            медиков депутат Законодательного собрания Пётр Гаврилов передал работникам КБ-51,
            которые сейчас находятся в «красной зоне»...
          </p>
          <div class="preview__footer">
            <time pubdate>25.11.2020</time>
            <p class="preview__views">
              <img class="preview__eye" src="svg/views.svg" />
              <span class="preview__count">327</span>
            </p>
          </div>
        </figcaption>
      </figure>
      <figure class="preview">
        <img class="preview__image" src="img/activities-4.jpg" />
        <figcaption class="preview__caption">
          <h4 class="preview__title">«Ёлочный базар» в Железногорске откроется 21 декабря</h4>
          <p class="preview__text">
            дминистрация ЗАТО г. Железногорск организует специализированную ярмарку «Ёлочный
            базар», которая будет работать с 21 по 31 декабря в районе площади «Ракушка» и около
            «Центра Досуга»...
          </p>
          <div class="preview__footer">
            <time pubdate>25.11.2020</time>
            <p class="preview__views">
              <img class="preview__eye" src="svg/views.svg" />
              <span class="preview__count">327</span>
            </p>
          </div>
        </figcaption>
      </figure>
      <figure class="preview">
        <img class="preview__image" src="img/activities-1.jpg" />
        <figcaption class="preview__caption">
          <h4 class="preview__title">Девять тысяч детей получили сладкие подарки</h4>
          <p class="preview__text">
            Бесплатные сладкие подарки получили воспитанники детских садов, учащиеся начальной
            школы с 1 по 4 классы. Всего было приобретено 9 109 подарков.
          </p>
          <div class="preview__footer">
            <time pubdate>25.11.2020</time>
            <p class="preview__views">
              <img class="preview__eye" src="svg/views.svg" />
              <span class="preview__count">327</span>
            </p>
          </div>
        </figcaption>
      </figure>
      <figure class="preview">
        <img class="preview__image" src="img/activities-2.jpg" />
        <figcaption class="preview__caption">
          <h4 class="preview__title">
            В 2021 году будет благоустроена территория на 9-ом квартале
          </h4>
          <p class="preview__text">
            4 декабря в микрорайоне Первомайский состоялось выездное совещание. Глава ЗАТО г.
            Железногорск Игорь Куксин, первый заместитель Алексей Сергейкин, специалист
            Управления градостроительства...
          </p>
          <div class="preview__footer">
            <time pubdate>25.11.2020</time>
            <p class="preview__views">
              <img class="preview__eye" src="svg/views.svg" />
              <span class="preview__count">327</span>
            </p>
          </div>
        </figcaption>
      </figure>
      <figure class="preview">
        <img class="preview__image" src="img/activities-3.jpg" />
        <figcaption class="preview__caption">
          <h4 class="preview__title">
            Депутат ЗС Пётр Гаврилов передал технику врачам Клинической больницы
          </h4>
          <p class="preview__text">
            В рамках работы краевого волонтёрского центра партии «Единая Россия» по просьбе
            медиков депутат Законодательного собрания Пётр Гаврилов передал работникам КБ-51,
            которые сейчас находятся в «красной зоне»...
          </p>
          <div class="preview__footer">
            <time pubdate>25.11.2020</time>
            <p class="preview__views">
              <img class="preview__eye" src="svg/views.svg" />
              <span class="preview__count">327</span>
            </p>
          </div>
        </figcaption>
      </figure>
      <figure class="preview">
        <img class="preview__image" src="img/activities-4.jpg" />
        <figcaption class="preview__caption">
          <h4 class="preview__title">«Ёлочный базар» в Железногорске откроется 21 декабря</h4>
          <p class="preview__text">
            дминистрация ЗАТО г. Железногорск организует специализированную ярмарку «Ёлочный
            базар», которая будет работать с 21 по 31 декабря в районе площади «Ракушка» и около
            «Центра Досуга»...
          </p>
          <div class="preview__footer">
            <time pubdate>25.11.2020</time>
            <p class="preview__views">
              <img class="preview__eye" src="svg/views.svg" />
              <span class="preview__count">327</span>
            </p>
          </div>
        </figcaption>
      </figure>
    </div>
    <div class="slider__nav">
      <p class="slider__buttons">
        <button class="activities__prev slider__prev"></button>
        <button class="activities__next slider__next"></button>
      </p>
      <p class="slider__counter">
        <span class="slider__current">4</span>
        <span> из </span>
        <span class="slider__total"> 12</span>
      </p>
    </div>
  </section>
</main>