<section class="corruption">
  <h2 class="title corruption__title">
      Противодействие коррупции
    </h2>
  <div class="corruption__text">
    <p>
      Совет депутатов ЗАТО г. Железногорск в пределах своих полномочий осуществляет деятельность, направленную на предупреждение и противодействие коррупции путём соблюдения и исполнения Конституции Российской Федерации, федеральных законов, нормативных правовых актов Президента Российской Федерации, Правительства Российской Федерации, нормативных правовых актов иных федеральных органов государственной власти, органов государственной власти Красноярского края и муниципальных правовых актов.
      <br />
      <br />
    </p>
    <h3 class="subtitle">Правовая основа противодействия коррупции:</h3>
    <ul>
      <li class="corruption__text">Федеральный закон от 25.12.2008 N 273-ФЗ "О противодействии коррупции"</li>
      <li class="corruption__text">Федеральный закон от 02.03.2007 N 25-ФЗ "О муниципальной службе в Российской Федерации"</li>
      <li class="corruption__text">Федеральный закон от 17.07.2009 N 172-ФЗ "Об антикоррупционной экспертизе нормативных правовых актов и проектов нормативных правовых актов"</li>
      <li class="corruption__text">Постановление Правительства РФ от 26.02.2010 N 96 "Об антикоррупционной экспертизе нормативных правовых актов и проектов нормативных правовых актов"</li>
      <li class="corruption__text">Закон Красноярского края от 07.07.2009 N 8-3542 "О представлении гражданами, претендующими на замещение должностей муниципальной службы, замещающими должности муниципальной службы, сведений о доходах, об имуществе и обязательствах имущественного характера, а также о представлении лицами, замещающими должности муниципальной службы, сведений о расходах"</li>
      <li class="corruption__text">Решение Совета депутатов ЗАТО г. Железногорск Красноярского края от 24.05.2018 N 34-152Р "Об утверждении Порядка размещения на официальном сайте ЗАТО Железногорск и предоставления средствам массовой информации для опубликования сведений о доходах, об имуществе и обязательствах имущественного характера, об источниках получения средств, за счет которых совершены сделки (совершена сделка), представленных лицами, замещающими муниципальные должности, муниципальными служащими и руководителями муниципальных учреждений"</li>
    </ul>
  </div>
  
  <img
    class="corruption__image"
    src="img/corruption.jpg"
    alt="Противодействие коррупции"
  />
</section>