<section class="corruption">
  <h2 class="title corruption__title">
    Противодействие коррупции
  </h2>
  <p class="corruption__text">
    Противодействие коррупции является одной из приоритетных задач государственной политики и
      важнейшим направлением деятельности органов прокуратуры Российской Федерации, которым
      отводится центральное место в реализации антикоррупционного законодательства и обеспечении
      его неукоснительного соблюдения.
    <br />
    <br />
    Прокуратура Российской Федерации – это единая
      федеральная централизованная система органов, осуществляющих надзор за соблюдением
      Конституции Российской Федерации от имени Российской Федерации и исполнением законов,
      действующих на ее территории.
    <br />
    <br />
    Органы прокуратуры осуществляют свою
      антикоррупционную деятельность на основании Конституции Российской Федерации, Федерального
      закона от 17 января 1992 г. № 2202-1 «О прокуратуре Российской Федерации», Федерального
      закона от 25 декабря 2008 г. № 273-ФЗ «О противодействии коррупции» и др.
  </p>
  <img
    class="corruption__image"
    src="img/corruption.jpg"
    alt="Противодействие коррупции"
  />
</section>