<section class="council">
  <h2 class="title">
    Совет депутатов
  </h2>
  <img class="council__photo" src="img/council.jpg" alt="" />
  <p class="council__text">
    Совет депутатов ЗАТО г. Железногорск является представительным органом местного
      самоуправления ЗАТО Железногорск, наделенным собственными полномочиями по решению вопросов
      местного значения. Совет депутатов состоит из 25 депутатов, избираемых на муниципальных
      выборах, на основе всеобщего равного и прямого избирательного права при тайном
      голосовании. Срок полномочий Совета депутатов составляет пять лет. Совет депутатов ЗАТО
      г.Железногорск VI созыва приступил к работе 22 сентября 2020 года. В Совете депутатов
      сформированы четыре постоянные депутатские комиссии: комиссия бюджету, финансам и налогам,
      комиссия по вопросам экономики, собственности и ЖКХ, комиссия по вопросам местного
      самоуправления и законности, комиссия по социальным вопросам. В состав Совета депутатов
      вошли представители Либерально-демократической партии России, Всероссийской политической
      партии «Единая Россия», Политической партии «Коммунистическая партия Российской
      Федерации», Политической партии «Справедливая Россия» и Российской объединенной
      демократической партии «Яблоко». Важнейшими полномочиями Совета депутатов являются
      принятие общеобязательных правил по вопросам, имеющим местное значение, рассмотрение и
      принятие местного бюджета. Депутаты Совета депутатов ЗАТО г. Железногорск представляют
      интересы жителей города Железногорска, посёлков Подгорный, Додоново, Новый Путь, Тартат,
      деревни Шивера и от имени жителей участвуют в управлении всеми сферами общественной жизни
      городского округа ЗАТО Железногорск.
  </p>
</section>
<section class="structure">
  <h2 class="title">
    Структура совета
  </h2>
  <ul class="structure__container">
    <li class="structure__data collapsible">
      <figure>
        <img
          class="structure__photo"
          src="./img/structure-1.jpg"
          alt="Проскурин Сергей Дмитриевич"
        />
        <figcaption class="structure__caption">
          <span class="structure__post">
            Председатель
          </span>
          <span class="structure__name">
            Проскурнин Сергей Дмитриевич
          </span>
          <button class="structure__details details">
            <span>Подробнее</span>
            <img src="svg/mark.svg" />
          </button>
        </figcaption>
      </figure>
      <div class="structure__biography details__content">
        <h5>
          Образование:
        </h5>
        <ul>
          <li>
            Казанский авиационный институт по специальности «Динамика полета и управления»
                  (1982 г.)
          </li>
          <li>
            Красноярский Государственный университет по специальности «Экономико-социальное
                  планирование» (1993 г.)
          </li>
        </ul>
        <h5>
          Профессиональная биография:
        </h5>
        <ul>
          <li>
            1982-1989 гг. – инженер конструкторского бюро НПО ПМ (г.Железногорск)
          </li>
          <li>
            1989-1996 гг. – ведущий инженер, заместитель начальника ИВЦ треста
                  «Сибхиммонтаж» (г.Железногорск)
          </li>
          <li>
            1996-1999 гг. – старший преподаватель филиала КГТУ в Железногорске
          </li>
          <li>
            1999-2001 гг. – главный бухгалтер администрации ЗАТО г. Железногорск
          </li>
          <li>
            2001-2004 гг. – директор МП «Гортеплоэнерго» (г.Железногорск)
          </li>
          <li>
            2004-2006 гг. – заместитель Главы ЗАТО Железногорск
          </li>
          <li>
            2006 – 2009 г.г. – заместитель директора урало-сибирского территориального
                  управления ОАО АКБ «Росбанк»
          </li>
          <li>
            2009-2010 г.г. - заместитель директора территориального управления в Красноярске
                  ОАО АКБ «Международный финансовый клуб»
          </li>
          <li>
            2010 - 2018 г.г. – первый заместитель Главы администрации ЗАТО г.Железногорск
          </li>
          <li>
            2018 г. - 15.09.2020 г. - первый заместитель Главы ЗАТО г.Железногорск по
                  стратегическому планированию, экономическому развитию и финансам
          </li>
          <li>
            с 22.09.2020 - Председатель Совета депутатов ЗАТО г. Железногорск
          </li>
        </ul>
      </div>
    </li>
    <li class="structure__data collapsible">
      <figure>
        <img
          class="structure__photo"
          src="./img/structure-2.jpg"
          alt="Двирный Гурий Валерьевич"
        />
        <figcaption class="structure__caption">
          <span class="structure__post">
            Заместитель председателя
          </span>
          <span class="structure__name">
            Двирный Гурий Валерьевич
          </span>
          <button class="structure__details details">
            <span>
              Подробнее
            </span>
            <img src="svg/mark.svg" />
          </button>
        </figcaption>
      </figure>
      <div class="structure__biography details__content">
        <h5>
          Образование:
        </h5>
        <ul>
          <li>
            Казанский авиационный институт по специальности «Динамика полета и управления»
                (1982 г.)
          </li>
          <li>
            Красноярский Государственный университет по специальности «Экономико-социальное
                планирование» (1993 г.)
          </li>
        </ul>
        <h5>
          Профессиональная биография:
        </h5>
        <ul>
          <li>
            1982-1989 гг. – инженер конструкторского бюро НПО ПМ (г.Железногорск)
          </li>
          <li>
            1989-1996 гг. – ведущий инженер, заместитель начальника ИВЦ треста
                «Сибхиммонтаж» (г.Железногорск)
          </li>
          <li>
            1996-1999 гг. – старший преподаватель филиала КГТУ в Железногорске
          </li>
          <li>
            1999-2001 гг. – главный бухгалтер администрации ЗАТО г. Железногорск
          </li>
          <li>
            2001-2004 гг. – директор МП «Гортеплоэнерго» (г.Железногорск)
          </li>
          <li>
            2004-2006 гг. – заместитель Главы ЗАТО Железногорск
          </li>
          <li>
            2006 – 2009 г.г. – заместитель директора урало-сибирского территориального
                управления ОАО АКБ «Росбанк»
          </li>
          <li>
            2009-2010 г.г. - заместитель директора территориального управления в Красноярске
                ОАО АКБ «Международный финансовый клуб»
          </li>
          <li>
            2010 - 2018 г.г. – первый заместитель Главы администрации ЗАТО г.Железногорск
          </li>
          <li>
            2018 г. - 15.09.2020 г. - первый заместитель Главы ЗАТО г.Железногорск по
                стратегическому планированию, экономическому развитию и финансам
          </li>
          <li>
            с 22.09.2020 - Председатель Совета депутатов ЗАТО г. Железногорск
          </li>
        </ul>
      </div>
    </li>
  </ul>
  <section class="commission">
    <h3 class="subtitle">
      Постоянные комиссии
    </h3>
    <div class="commission__container">
      <div class="bg-gray commission__block collapsible">
        <h4 class="commission__name">Комиссия по бюджету, финансам и налогам</h4>
        <button class="details">
          <span>Подробнее</span>
          <img src="svg/mark.svg" />
        </button>
        <div class="commission__content details__content">
          <h5>Председатель комиссии:</h5>
          <span>Разумник Юрий Иванович</span>

          <h5>Заместитель председателя комиссии:</h5>
          <span>Мамонтова Вера Анатольевна</span>

          <h5>Члены комиссии:</h5>
          <ul>
            <li>Балашов Евгений Александрович</li>
            <li>Беллер Роман Валерьевич</li>
            <li>Бель Анна Василисовна</li>
            <li>Двирный Гурий Валерьевич</li>
            <li>Дубровский Владимир Михайлович</li>
            <li>Кротова Людмила Георгиевна</li>
            <li>Матроницкий Дмитрий Анатольевич</li>
            <li>Новаковский Анатолий Вадимович</li>
            <li>Руденко Ксения Андреевна</li>
            <li>Семерикова Наталия Юрьевна</li>
            <li>Ташев Семен Олегович</li>
            <li>Травников Никита Андреевич</li>
            <li>Токарев Олег Васильевич</li>
            <li>Харабет Алексей Иванович</li>
            <li>Шелепов Глеб Владимирович</li>
          </ul>
        </div>
      </div>

      <div class="bg-gray commission__block collapsible">
        <h4 class="commission__name">Комиссия по вопросам экономики, собственности и ЖКХ</h4>
        <button class="details">
          <span>Подробнее</span>
          <img src="svg/mark.svg" />
        </button>
        <div class="commission__content details__content">
          <h5>Председатель комиссии:</h5>
          <span>Матроницкий Дмитрий Анатольевич</span>

          <h5>Заместитель председателя комиссии:</h5>
          <span>Ташев Семён Олегович</span>

          <h5>Члены комиссии:</h5>
          <ul>
            <li>Антонов Эдуард Юрьевич</li>
            <li>Балашов Евгений Александрович</li>
            <li>Беллер Роман Валерьевич</li>
            <li>Бель Анна Василисовна</li>
            <li>Двирный Гурий Валерьевич</li>
            <li>Закалин Андрей Владимирович</li>
            <li>Кротова Людмила Георгиевна</li>
            <li>Мамонтова Вера Анатольевна</li>
            <li>Новаковский Анатолий Вадимович</li>
            <li>Разумник Юрий Иванович</li>
            <li>Руденко Ксения Андреевна</li>
            <li>Семерикова Наталия Юрьевна</li>
            <li>Травников Никита Андреевич</li>
            <li>Токарев Олег Васильевич</li>
            <li>Харабет Алексей Иванович</li>
            <li>Шелепов Глеб Владимирович</li>
          </ul>
        </div>
      </div>

      <div class="bg-gray commission__block collapsible">
        <h4 class="commission__name">Комиссия по вопросам местного самоуправления и законности</h4>
        <button class="details">
          <span>Подробнее</span>
          <img src="svg/mark.svg" />
        </button>
        <div class="commission__content details__content">
          <h5>Председатель комиссии:</h5>
          <span>Федотов Алексей Станиславович</span>

          <h5>Заместитель председателя комиссии:</h5>
          <span>Харабет Алексей Иванович</span>

          <h5>Члены комиссии:</h5>
          <ul>
            <li>Двирный Гурий Валерьевич</li>
            <li>Закалин Андрей Владимирович</li>
            <li>Кротова Людмила Георгиевна</li>
            <li>Мамонтова Вера Анатольевна</li>
            <li>Митин Виктор Борисович</li>
            <li>Новаковский Анатолий Вадимович</li>
            <li>Ощепков Анатолий Владимирович</li>
            <li>Руденко Ксения Андреевна</li>
            <li>Травников Никита Андреевич</li>
            <li>Шелепов Глеб Владимирович</li>
          </ul>
        </div>
      </div>

      <div class="bg-gray commission__block collapsible">
        <h4 class="commission__name">Комиссия по социальным вопросам</h4>
        <button class="details">
          <span>Подробнее</span>
          <img src="svg/mark.svg" />
        </button>
        <div class="commission__content details__content">
          <h5>Председатель комиссии:</h5>
          <span>Шелепов Глеб Владимирович</span>

          <h5>Заместитель председателя комиссии:</h5>
          <span>Семерикова Наталия Юрьевна</span>

          <h5>Члены комиссии:</h5>
          <ul>
            <li>Антонов Эдуард Юрьевич</li>
            <li>Двирный Гурий Валерьевич</li>
            <li>Дубровский Владимир Михайлович</li>
            <li>Закалин Андрей Владимирович</li>
            <li>Кротова Людмила Георгиевна</li>
            <li>Лесняк Виталий Анатольевич</li>
            <li>Мамонтова Вера Анатольевна</li>
            <li>Митин Виктор Борисович</li>
            <li>Новаковский Анатолий Вадимович</li>
            <li>Ощепков Анатолий Владимирович</li>
            <li>Руденко Ксения Андреевна</li>
            <li>Травников Никита Андреевич</li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <section class="fractions">
    <h3 class="subtitle">
      Фракции
    </h3>
    <ul class="fractions__container">
      <li>
        <a class="fractions__item" href="#">
          <span>
            Подробнее
          </span>
          <img src="img/fractions-1.png" alt="Единая Россия" />
        </a>
      </li>
      <li>
        <a class="fractions__item" href="#">
          <span>
            Подробнее
          </span>
          <img src="img/fractions-2.png" alt="КПРФ" />
        </a>
      </li>
      <li>
        <a class="fractions__item" href="#">
          <span>
            Подробнее
          </span>
          <img src="img/fractions-3.png" alt="ЛДПР" />
        </a>
      </li>
      <li>
        <a class="fractions__item" href="#">
          <span>
            Подробнее
          </span>
          <img src="img/fractions-4.png" alt="Справедливая Россия" />
        </a>
      </li>
    </ul>
  </section>
  <section class="staff">
    <h3 class="subtitle staff__title">
      Аппарат
    </h3>
    <div>
      <p>
        Отдел по организации деятельности Совета депутатов ЗАТО г. Железногорск (аппарат
          Совета депутатов) осуществляет правововое, документационное и организационное
          обеспечение деятельности Совета депутатов ЗАТО г. Железногорск.
      </p>
      <h5>
        Основные функции отдела по организации деятельности Совета депутатов ЗАТО г.
          Железногорск:
      </h5>
      <ul>
        <li>
          организация работы сессий, постоянно действующих и временных комиссий, рабочих групп
            Совета депутатов ЗАТО г. Железногорск;
        </li>
        <li>
          информационное и материально-техническое обеспечение деятельности депутатов Совета
            депутатов;
        </li>
        <li>
          организация единой системы документооборота, в том числе работы с обращениями
            граждан;
        </li>
        <li>
          организация депутатских и общественных слушаний, публичных слушаний;
        </li>
        <li>
          обеспечение опубликования официальной информации, правовых актов Совета депутатов
            ЗАТО г. Железногорск, размещения информации на официальном сайте;
        </li>
        <li>
          обеспечение направления правовых актов Совета депутатов ЗАТО г. Железногорск в
            Регистр муниципальных нормативных правовых актов Красноярского края, в правовые
            информационные системы;
        </li>
        <li>
          осуществление планирования закупок и заключения контрактов в соответствии с
            Федеральным законом от 05.04.2013 N 44-ФЗ "О контрактной системе в сфере
            закупок товаров, работ, услуг для обеспечения государственных и муниципальных
            нужд";
        </li>
        <li>
          осуществление юридической и антикоррупционной экспертизы проектов правовых актов
            Совета депутатов ЗАТО г. Железногорск.
        </li>
      </ul>
    </div>
    <img src="img/staff.jpg" alt="Фото депутатов" />
  </section>
  <section class="history">
    <div class="history__photo">
      <div class="history__big">
        <img src="img/history-1.jpg" alt="История совета депутатов" />
        <img src="img/history-2.jpg" alt="История совета депутатов" />
        <img src="img/history-3.jpg" alt="История совета депутатов" />
        <img src="img/history-4.jpg" alt="История совета депутатов" />
        <img src="img/history-5.jpg" alt="История совета депутатов" />
      </div>
      <div class="history__small">
        <img src="img/history-1.jpg" alt="История совета депутатов" />
        <img src="img/history-2.jpg" alt="История совета депутатов" />
        <img src="img/history-3.jpg" alt="История совета депутатов" />
        <img src="img/history-4.jpg" alt="История совета депутатов" />
        <img src="img/history-5.jpg" alt="История совета депутатов" />
      </div>
    </div>
    <h3 class="subtitle history__title">
      История совета
    </h3>
    <p class="history__text">
      23 августа 1954 года состоялась первая сессия Железногорского городского Совета
            депутатов трудящихся. Было избрано 139 депутатов. Городской Совет сформировал
            исполнительный комитет, включающий отраслевые отделы, а также восемь постоянных
            депутатских комиссий. Все важнейшие вопросы хозяйственного и культурного обустройства
            молодого города находились под управлением и контролем местного органа государственной
            власти. С августа 1954 года по октябрь 1993 года состоялось восемнадцать созывов
            городского Совета. Председателями исполкома городского Совета являлись В.И.Волков
            (1954-1957), М.А.Черемушкин (1957-1963), А.Я.Балакчин (1963), Б.А.Гедройц (1963-1970),
            Г.Б. Нефедьев (1970-1972), И.И. Власенко (1972-1989), А.А. Ромашов (1989-1990). В марте
            1990 года был принят закон о местном самоуправлении, что явилось рубежом для разделения
            власти на две ветви – законодательную и исполнительную, исполком стал самостоятельной
            структурой. Председателем городского Совета избран А.А. Ромашов (1990-1991), затем В.А.
            Сафронов (1991-1993). В изменившихся условиях городской Совет активно включился в
            реформирование хозяйственной деятельности, форм собственности, решение социальных
            проблем горожан. В 1993 году, в соответствии с Указом Президента РФ от 09.10.1993 №
            1617, полномочия Советов народных депутатов были прекращены. После принятия в декабре
            1993 года Конституции Российской Федерации в силу вступили новые федеральные законы,
            предусматривающие формирование представительных органов местного самоуправления.
    </p>
  </section>
</section>