<main>
  <section class="documents">
    <div class="d-flex">
      <h2 class="title">Документы</h2>
      <input type="search" class="search" placeholder="Поиск по документам" />
    </div>
    <div class="documents__container">
      <div class="documents__block">
        <h3 class="subtitle">Решения сессии</h3>
        <ul class="documents__list">
          <li class="documents__item">
            2020
            <ul>
              <li><a href="#">Январь</a></li>
              <li><a href="#">Февраль</a></li>
              <li><a href="#">Март</a></li>
            </ul>
          </li>
        </ul>

        <ul class="documents__list">
          <li class="documents__item">
            2020
            <ul>
              <li><a href="#">Январь</a></li>
              <li><a href="#">Февраль</a></li>
              <li><a href="#">Март</a></li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="documents__block">
        <h3 class="subtitle">Отчёты о деятельности</h3>
        <ul class="documents__list">
          <li class="documents__item">
            Статистическая информация
            <ul>
              <li><a href="#">Январь</a></li>
              <li><a href="#">Февраль</a></li>
              <li><a href="#">Март</a></li>
            </ul>
          </li>
        </ul>

        <ul class="documents__list">
          <li class="documents__item">
            Сведения о доходах
            <ul>
              <li><a href="#">Январь</a></li>
              <li><a href="#">Февраль</a></li>
              <li><a href="#">Март</a></li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="documents__block">
        <h3 class="subtitle">Нормативная правовая база</h3>
        <ul class="documents__list">
          <li class="documents__item">
            Раздел 1
            <ul>
              <li>Январь</li>
              <li>Февраль</li>
              <li>Март</li>
            </ul>
          </li>
        </ul>

        <ul class="documents__list">
          <li class="documents__item">
            Раздел 2
            <ul>
              <li>Январь</li>
              <li>Февраль</li>
              <li>Март</li>
            </ul>
          </li>
        </ul>
      </div>
      <a href="#" class="documents__download">
        <span>Скачать все фалы архивом</span>
        <img src="../svg/download.svg" />
      </a>
    </div>
  </section>
</main>