<main>
  <section class="promo">
    <div class="promo__slider">
      <div class="promo__slide" id="promo-slide-1">
        <ul class="promo__news">
          <li>
            <a href="#">
              <h4>
                Новое в законодательстве для хозяйствующих субъектов, привлекающих иностранных
                работников
              </h4>
              <div>
                <time pubdate>25.11.2020</time>
                <p class="promo__views">
                  <img src="svg/views.svg" />
                  <span class="preview__count">327</span>
                </p>
              </div>
            </a>
          </li>
          <li>
            <a href="#">
              <h4>За минувшие сутки в Железногорске коронавирус выявили у 87 человек</h4>
              <div>
                <time pubdate>25.11.2020</time>
                <p class="promo__views">
                  <img src="svg/views.svg" />
                  <span class="preview__count">327</span>
                </p>
              </div>
            </a>
          </li>
          <li>
            <a href="#">
              <h4>Онлайн-знакомство с Сибирской академией МЧС России</h4>
              <div>
                <time pubdate>25.11.2020</time>
                <p class="promo__views">
                  <img src="svg/views.svg" />
                  <span class="preview__count">327</span>
                </p>
              </div>
            </a>
          </li>
        </ul>

        <div class="promo__content d-flex">
          <div>
            <h2 class="promo__title">
              Ваша возможность задать интересующий вопрос своему депутату
            </h2>
            <a href="#" class="button promo__button">Задать вопрос</a>
          </div>
          <div class="event promo__event">
            <header>
              <time class="event__time">{{year}}</time>
              <time class="event__date">{{date format="DD MMMM YYYY"}}</time>
            </header>
            <div class="event__wrapper">
              <p class="event__closest">Ближайшее мероприятие - <time><span class="loader"></span></time></p>
              <h3 class="event__name"><span class="loader"></span></h3>
            </div>
          </div>
        </div>
      </div>
      <div class="promo__slide" id="promo-slide-2">
        <ul class="promo__news">
          <li>
            <h4>
              Новое в законодательстве для хозяйствующих субъектов, привлекающих иностранных
              работников
            </h4>
            <div>
              <time pubdate>25.11.2020</time>
              <p class="promo__views">
                <img src="svg/views.svg" />
                <span class="preview__count">327</span>
              </p>
            </div>
          </li>
          <li>
            <h4>За минувшие сутки в Железногорске коронавирус выявили у 87 человек</h4>
            <div>
              <time pubdate>25.11.2020</time>
              <p class="promo__views">
                <img src="svg/views.svg" />
                <span class="preview__count">327</span>
              </p>
            </div>
          </li>
          <li>
            <h4>Онлайн-знакомство с Сибирской академией МЧС России</h4>
            <div>
              <time pubdate>25.11.2020</time>
              <p class="promo__views">
                <img src="svg/views.svg" />
                <span class="preview__count">327</span>
              </p>
            </div>
          </li>
        </ul>

        <div class="promo__content d-flex">
          <div>
            <h2 class="promo__title">
              Ваша возможность задать интересующий вопрос своему депутату
            </h2>
            <a href="#" class="button promo__button">Задать вопрос</a>
          </div>
          <div class="event promo__event">
            <header>
              <time class="event__time">14:57:23</time>
              <time class="event__date">20 декабря 2020</time>
            </header>
            <div class="event__wrapper">
              <p class="event__closest">Ближайшее мероприятие - <time>16 января 2021</time></p>
              <h3 class="event__name">Заседание Совета депутатов</h3>
            </div>
          </div>
        </div>
      </div>
      <div class="promo__slide" id="promo-slide-3">
        <ul class="promo__news">
          <li>
            <h4>
              Новое в законодательстве для хозяйствующих субъектов, привлекающих иностранных
              работников
            </h4>
            <div>
              <time pubdate>25.11.2020</time>
              <p class="promo__views">
                <img src="svg/views.svg" />
                <span class="preview__count">327</span>
              </p>
            </div>
          </li>
          <li>
            <h4>За минувшие сутки в Железногорске коронавирус выявили у 87 человек</h4>
            <div>
              <time pubdate>25.11.2020</time>
              <p class="promo__views">
                <img src="svg/views.svg" />
                <span class="preview__count">327</span>
              </p>
            </div>
          </li>
          <li>
            <h4>Онлайн-знакомство с Сибирской академией МЧС России</h4>
            <div>
              <time pubdate>25.11.2020</time>
              <p class="promo__views">
                <img src="svg/views.svg" />
                <span class="preview__count">327</span>
              </p>
            </div>
          </li>
        </ul>

        <div class="promo__content d-flex">
          <div>
            <h2 class="promo__title">
              Ваша возможность задать интересующий вопрос своему депутату
            </h2>
            <a href="#" class="button promo__button">Задать вопрос</a>
          </div>
          <div class="event promo__event">
            <header>
              <time class="event__time">14:57:23</time>
              <time class="event__date">20 декабря 2020</time>
            </header>
            <div class="event__wrapper">
              <p class="event__closest">Ближайшее мероприятие - <time>16 января 2021</time></p>
              <h3 class="event__name">Заседание Совета депутатов</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
    <p class="promo__buttons slider__buttons">
      <button class="promo__prev slider__prev"></button>
      <button class="promo__next slider__next"></button>
    </p>
    <p class="promo__dots"></p>
  </section>

  <section class="about">
    <div class="about__slider">
      <div class="about__slide">
        <div>
          <h3 class="subtitle">Совет депутатов</h3>
          <p class="about__text">
            Совет депутатов закрытого административно-территориального образования город
            Железногорск (сокращенное наименование - Совет депутатов ЗАТО г.Железногорск)
            является представительным органом местного самоуправления ЗАТО Железногорск. Совет
            депутатов ЗАТО г.Железногорск состоит из 25 депутатов, избираемых на муниципальных
            выборах на основе всеобщего равного и прямого избирательного права при тайном
            голосовании. Совет депутатов избирается сроком на пять лет.
          </p>
          <a class="more about__more" href="#">Подробнее</a>
        </div>
        <img src="img/about.jpg" alt="Совет депутатов" />
      </div>
      <div class="about__slide">
        <img src="img/about.jpg" alt="Деятельность совета" />
        <div>
          <h3 class="subtitle">Деятельность совета</h3>
          <p class="about__text">
            Информация о деятельности совета депутатов. Информация о деятельности совета
            депутатов. Информация о деятельности совета депутатов. Информация о деятельности
            совета депутатов. Информация о деятельности совета депутатов. Информация о
            деятельности совета депутатов. Информация о деятельности совета депутатов.
            Информация о деятельности совета депутатов. Информация о деятельности совета
            депутатов. Информация о деятельности совета депутатов.
          </p>
          <a class="more about__more" href="#">Подробнее</a>
        </div>
      </div>
      <div class="about__slide">
        <div>
          <h3 class="subtitle">Lorem ipsum</h3>
          <p class="about__text">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia, culpa ab totam
            quas ipsam, tenetur perspiciatis magnam commodi reiciendis autem itaque rerum nemo.
            Exercitationem explicabo magnam numquam cupiditate magni accusamus laudantium hic
            molestias, vero porro perspiciatis! Optio vitae rem quidem error quas, quasi
            veritatis a ipsa at minima ea. Ullam soluta eaque voluptate error quas voluptas,
            officia odio exercitationem atque cumque at fuga quod facere commodi laudantium
            aspernatur, qui natus impedit dolorem ducimus repellendus.
          </p>
          <a class="more about__more" href="#">Подробнее</a>
        </div>
        <img src="img/about.jpg" alt="Совет депутатов" />
      </div>
      <div class="about__slide">
        <img src="img/about.jpg" alt="Деятельность совета" />
        <div>
          <h3 class="subtitle">Dolor sit amet</h3>
          <p class="about__text">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia, culpa ab totam
            quas ipsam, tenetur perspiciatis magnam commodi reiciendis autem itaque rerum nemo.
            impedit dolorem ducimus repellendus. Dolorum totam inventore illo corporis
            laboriosam consequuntur consequatur voluptates expedita numquam iure, culpa
            explicabo quos alias error fugit, magni minima, vel maiores soluta enim ratione
            commodi?
          </p>
          <a class="more about__more" href="#">Подробнее</a>
        </div>
      </div>
    </div>
    <div class="slider__nav about__slider-nav">
      <p class="slider__buttons">
        <button class="about__prev slider__prev"></button>
        <button class="about__next slider__next"></button>
      </p>
      <p class="slider__counter">
        <span class="slider__current">1</span>
        <span> из </span>
        <span class="slider__total">12</span>
      </p>
    </div>
  </section>

  <section class="calendar">
    <div id="eventsCalendar"></div>
  </section>

  <section class="deput">
    <h2 class="title">Депутаты Совета депутатов</h2>
    <div class="deput__slider">
      <figure class="deput__card">
        <div class="deput__head">
          <img class="deput__photo" src="img/corpus.jpg" />
          <img src="img/edro.png" alt="Единая Россия" class="deput__consignment" />
        </div>

        <figcaption class="deput__caption">
          <h4 class="deput__name">Антонов Эдуард Юрьевич</h4>
          <p class="deput__post">МАУ СШ «Юность», директор</p>
          <p class="deput__text">
            Антонов Эдуард Юрьевич, директор спортивной школы «Юность». 40 лет. Живёт и работает
            в Железногорске. Прошёл путь от тренера до руководителя спортивного учреждения.
            Воспитывает сына и дочь. Ведёт здоровый образ жизни, своим собственным примером
            пропагандирует физическую культуру.
          </p>
          <p class="deput__schedule">
            <span class="red">График приема: </span>
            каждая среда месяца с 18 до 20 ГИМНАЗИЯ № 96
          </p>
          <p class="deput__registration">
            <span class="red">Запись: </span>
            предварительная запись по телефону 8-913-199-65-67
          </p>
        </figcaption>
        <button class="button deput__button">Задать вопрос</button>
      </figure>
      <figure class="deput__card">
        <div class="deput__head">
          <img class="deput__photo" src="img/corpus.jpg" />
          <img src="img/edro.png" alt="Единая Россия" class="deput__consignment" />
        </div>

        <figcaption class="deput__caption">
          <h4 class="deput__name">Антонов Эдуард Юрьевич</h4>
          <p class="deput__post">МАУ СШ «Юность», директор</p>
          <p class="deput__text">
            Антонов Эдуард Юрьевич, директор спортивной школы «Юность». 40 лет. Живёт и работает
            в Железногорске. Прошёл путь от тренера до руководителя спортивного учреждения.
            Воспитывает сына и дочь. Ведёт здоровый образ жизни, своим собственным примером
            пропагандирует физическую культуру.
          </p>
          <p class="deput__schedule">
            <span class="red">График приема: </span>
            каждая среда месяца с 18 до 20 ГИМНАЗИЯ № 96
          </p>
          <p class="deput__registration">
            <span class="red">Запись: </span>
            предварительная запись по телефону 8-913-199-65-67
          </p>
        </figcaption>
        <button class="button deput__button">Задать вопрос</button>
      </figure>
      <figure class="deput__card">
        <div class="deput__head">
          <img class="deput__photo" src="img/corpus.jpg" />
          <img src="img/edro.png" alt="Единая Россия" class="deput__consignment" />
        </div>

        <figcaption class="deput__caption">
          <h4 class="deput__name">Антонов Эдуард Юрьевич</h4>
          <p class="deput__post">МАУ СШ «Юность», директор</p>
          <p class="deput__text">
            Антонов Эдуард Юрьевич, директор спортивной школы «Юность». 40 лет. Живёт и работает
            в Железногорске. Прошёл путь от тренера до руководителя спортивного учреждения.
            Воспитывает сына и дочь. Ведёт здоровый образ жизни, своим собственным примером
            пропагандирует физическую культуру.
          </p>
          <p class="deput__schedule">
            <span class="red">График приема: </span>
            каждая среда месяца с 18 до 20 ГИМНАЗИЯ № 96
          </p>
          <p class="deput__registration">
            <span class="red">Запись: </span>
            предварительная запись по телефону 8-913-199-65-67
          </p>
        </figcaption>
        <button class="button deput__button">Задать вопрос</button>
      </figure>
      <figure class="deput__card">
        <div class="deput__head">
          <img class="deput__photo" src="img/corpus.jpg" />
          <img src="img/edro.png" alt="Единая Россия" class="deput__consignment" />
        </div>

        <figcaption class="deput__caption">
          <h4 class="deput__name">Антонов Эдуард Юрьевич</h4>
          <p class="deput__post">МАУ СШ «Юность», директор</p>
          <p class="deput__text">
            Антонов Эдуард Юрьевич, директор спортивной школы «Юность». 40 лет. Живёт и работает
            в Железногорске. Прошёл путь от тренера до руководителя спортивного учреждения.
            Воспитывает сына и дочь. Ведёт здоровый образ жизни, своим собственным примером
            пропагандирует физическую культуру.
          </p>
          <p class="deput__schedule">
            <span class="red">График приема: </span>
            каждая среда месяца с 18 до 20 ГИМНАЗИЯ № 96
          </p>
          <p class="deput__registration">
            <span class="red">Запись: </span>
            предварительная запись по телефону 8-913-199-65-67
          </p>
        </figcaption>
        <button class="button deput__button">Задать вопрос</button>
      </figure>
      <figure class="deput__card">
        <div class="deput__head">
          <img class="deput__photo" src="img/corpus.jpg" />
          <img src="img/edro.png" alt="Единая Россия" class="deput__consignment" />
        </div>

        <figcaption class="deput__caption">
          <h4 class="deput__name">Антонов Эдуард Юрьевич</h4>
          <p class="deput__post">МАУ СШ «Юность», директор</p>
          <p class="deput__text">
            Антонов Эдуард Юрьевич, директор спортивной школы «Юность». 40 лет. Живёт и работает
            в Железногорске. Прошёл путь от тренера до руководителя спортивного учреждения.
            Воспитывает сына и дочь. Ведёт здоровый образ жизни, своим собственным примером
            пропагандирует физическую культуру.
          </p>
          <p class="deput__schedule">
            <span class="red">График приема: </span>
            каждая среда месяца с 18 до 20 ГИМНАЗИЯ № 96
          </p>
          <p class="deput__registration">
            <span class="red">Запись: </span>
            предварительная запись по телефону 8-913-199-65-67
          </p>
        </figcaption>
        <button class="button deput__button">Задать вопрос</button>
      </figure>
      <figure class="deput__card">
        <div class="deput__head">
          <img class="deput__photo" src="img/corpus.jpg" />
          <img src="img/edro.png" alt="Единая Россия" class="deput__consignment" />
        </div>

        <figcaption class="deput__caption">
          <h4 class="deput__name">Антонов Эдуард Юрьевич</h4>
          <p class="deput__post">МАУ СШ «Юность», директор</p>
          <p class="deput__text">
            Антонов Эдуард Юрьевич, директор спортивной школы «Юность». 40 лет. Живёт и работает
            в Железногорске. Прошёл путь от тренера до руководителя спортивного учреждения.
            Воспитывает сына и дочь. Ведёт здоровый образ жизни, своим собственным примером
            пропагандирует физическую культуру.
          </p>
          <p class="deput__schedule">
            <span class="red">График приема: </span>
            каждая среда месяца с 18 до 20 ГИМНАЗИЯ № 96
          </p>
          <p class="deput__registration">
            <span class="red">Запись: </span>
            предварительная запись по телефону 8-913-199-65-67
          </p>
        </figcaption>
        <button class="button deput__button">Задать вопрос</button>
      </figure>
      <figure class="deput__card">
        <div class="deput__head">
          <img class="deput__photo" src="img/corpus.jpg" />
          <img src="img/edro.png" alt="Единая Россия" class="deput__consignment" />
        </div>

        <figcaption class="deput__caption">
          <h4 class="deput__name">Антонов Эдуард Юрьевич</h4>
          <p class="deput__post">МАУ СШ «Юность», директор</p>
          <p class="deput__text">
            Антонов Эдуард Юрьевич, директор спортивной школы «Юность». 40 лет. Живёт и работает
            в Железногорске. Прошёл путь от тренера до руководителя спортивного учреждения.
            Воспитывает сына и дочь. Ведёт здоровый образ жизни, своим собственным примером
            пропагандирует физическую культуру.
          </p>
          <p class="deput__schedule">
            <span class="red">График приема: </span>
            каждая среда месяца с 18 до 20 ГИМНАЗИЯ № 96
          </p>
          <p class="deput__registration">
            <span class="red">Запись: </span>
            предварительная запись по телефону 8-913-199-65-67
          </p>
        </figcaption>
        <button class="button deput__button">Задать вопрос</button>
      </figure>
      <figure class="deput__card">
        <div class="deput__head">
          <img class="deput__photo" src="img/corpus.jpg" />
          <img src="img/edro.png" alt="Единая Россия" class="deput__consignment" />
        </div>

        <figcaption class="deput__caption">
          <h4 class="deput__name">Антонов Эдуард Юрьевич</h4>
          <p class="deput__post">МАУ СШ «Юность», директор</p>
          <p class="deput__text">
            Антонов Эдуард Юрьевич, директор спортивной школы «Юность». 40 лет. Живёт и работает
            в Железногорске. Прошёл путь от тренера до руководителя спортивного учреждения.
            Воспитывает сына и дочь. Ведёт здоровый образ жизни, своим собственным примером
            пропагандирует физическую культуру.
          </p>
          <p class="deput__schedule">
            <span class="red">График приема: </span>
            каждая среда месяца с 18 до 20 ГИМНАЗИЯ № 96
          </p>
          <p class="deput__registration">
            <span class="red">Запись: </span>
            предварительная запись по телефону 8-913-199-65-67
          </p>
        </figcaption>
        <button class="button deput__button">Задать вопрос</button>
      </figure>
    </div>
    <div class="slider__nav deput__slider-nav">
      <a href="#" class="more">Все депутаты</a>
      <div class="slider__nav">
        <p class="slider__buttons">
          <button class="deput__prev slider__prev"></button>
          <button class="deput__next slider__next"></button>
        </p>
        <p class="slider__counter">
          <span class="slider__current">4</span>
          <span> из </span>
          <span class="slider__total"> 12</span>
        </p>
      </div>
    </div>
  </section>

  <section class="find">
    <div class="find__wrapper d-flex">
      <div>
        <h2 class="title">Найди своего депутата</h2>
        <p class="find__text">
          Введите адрес своего проживания и узнайте, какой депутат отвечает за ваш округ!
        </p>
      </div>
      <form class="form" action="#">
        <input
          class="form__field"
          type="search"
          placeholder="Введите адерс своего проживания*"
        />
        <button class="button form__button">Найти</button>
      </form>
    </div>
  </section>

  <section class="useful">
    <h2 class="title">Полезные ресурсы</h2>
    <div class="useful__container">
      <div class="useful__block useful__socials">
        <h4>Наши социальные сети:</h4>
        <ul>
          <li>
            <a href="#"><img src="/svg/vk-useful.svg" alt="ВКонтакте" /></a>
          </li>
          <li>
            <a href="#"><img src="/svg/inst-useful.svg" alt="Инстаграм" /></a>
          </li>
          <li>
            <a href="#"><img src="/svg/fb-useful.svg" alt="Фейсбук" /></a>
          </li>
          <li>
            <a href="#"><img src="/svg/ok-useful.svg" alt="Одноклассники" /></a>
          </li>
        </ul>
      </div>
      <div class="useful__block">
        <div class="d-flex">
          <h4>Газета "Город и горожане"</h4>
          <img class="useful__image" src="img/useful-1.png" alt="Город и горожане" />
        </div>
        <p>
          Газета "Город и горожане" выходит с 31 марта 1988 года. Газета зарегистрирована в
          Управлении Федеральной службы по надзору в сфере связи, информационных технологий и
          массовых коммуникаций по Красноярскому краю. Свидетельство о регистрации ПИ № ТУ 24
          -00408 от 30 мая 2011 года...
        </p>
        <a href="#" class="more">Подробнее</a>
      </div>
      <div class="useful__block">
        <div class="d-flex">
          <h4>Администрация ЗАТО<span> г. Железногорск</span></h4>
          <img
            class="useful__image"
            src="img/emblem.png"
            alt="Администрация ЗАТО г. Железногорск"
          />
        </div>
        <p>
          Администрация закрытого административно-территориального образования город
          Железногорск является исполнительно-распорядительным органом местного самоуправления и
          наделяется Уставом ЗАТО Железногорск полномочиями по решению вопросов местного
          значения и по осуществлению...
        </p>
        <a href="#" class="more">Подробнее</a>
      </div>
    </div>
  </section>

  <section class="questions">
    <div class="questions__container">
      <div class="questions__left">
        <h2 class="title questions__title">Страница закончилась, <span>а вопросы</span> остались?</h2>
        <p class="questions__desc">
          Опишите свой вопрос и мы обязательно ответим на него в ближайшее время!
        </p>
      </div>

      <form action="#" method="POST" class="form questions__form">
        <input class="form__field form__field--white" type="text" placeholder="Ваш вопрос*" />
        <input class="form__field form__field--white" type="name" placeholder="Ваше имя*" />
        <input class="form__field form__field--white" type="tel" placeholder="Ваш телефон*" />
        <button class="button button--white">Отправить</button>
        <p>
          Нажимая на кнопку «Отправить», вы даете <b>согласие</b> на обработку своих
          персональных данных.
        </p>
      </form>
    </div>
  </section>
</main>

