<section class="reception">
  <h2 class="title">
    Онлайн-приемная
  </h2>
  <form class="reception__form" id="reception__form" enctype="multipart/form-data">
    <textarea
      class="form__field"
      name="question"
      id=""
      placeholder="Текст обращения*"
      required
    ></textarea>
    <input class="form__field" type="name" name="name" placeholder="Ваше ФИО*" required />
    <input class="form__field" type="tel" name="phone" placeholder="Ваш телефон*" data-inputmask="'mask': '+7 (999) 999-99-99'" required />
    <input class="form__field" type="email" name="email" placeholder="E-mail*" required />
    <input
      class="form__field"
      type="text"
      placeholder="Почтовый адрес*"
      name="address"
      required
    />
    <input
      class="form__field"
      type="file"
      name="file"
      placeholder="Прикрепите файл"
      id="file"
      accept=".doc,.docx,.pdf,.txt"
    />
    <label for="file">
      <p class="form__field">
        Прикрепите файл
      </p>
      <span>
        При необходимости прикрепите файл
      </span>
    </label>
    <div class="dropmenu">
      <div class="dropdown reception__dropdown">
        <p class="select form__field">
          {{#if deputie}}
            <span>
              {{deputie.name}}
            </span>
          {{else}}
            <span>
              Выберите депутата, к которому хотите обратиться*
            </span>
          {{/if}}
          <img src="/svg/mark.svg" />
        </p>
        <input type="hidden" name="deput" required/>
        <ul class="dropdown-menu">
          <li>
            Совет депутатов
          </li>
          {{#if deputies.length}}
            {{#each deputies}}
              <li>
                {{name}}
              </li>
            {{/each}}
          {{/if}}
        </ul>
      </div>
    </div>
    <input class="button" type="submit" id="submit" />
    <label for="submit">
      Нажимая на кнопку «Отправить», вы даете
      <span class="red">
        согласие
      </span>
      на обработку
        своих персональных данных.
    </label>
  </form>
</section>
<section class="find">
  <div class="find__wrapper d-flex">
    <div>
      <h2 class="title">
        Найди своего депутата
      </h2>
      <p class="find__text">
        Введите адрес своего проживания и узнайте, какой депутат отвечает за ваш округ!
      </p>
    </div>
    <form class="form corpus__form" action="/reception/search" method="POST">
      <input
        class="form__field"
        id="deputie-search"
        type="search"
        placeholder="Введите адерс своего проживания*"
        autocomplete="off"
      />
      <input type="hidden" class="form__id">
      <button class="button form__button">
        Найти
      </button>
    </form>
  </div>
</section>