<section class="reception">
  <h2 class="title">
    Онлайн-приемная
  </h2>
  <form class="reception__form" id="reception__form">
    <textarea
      class="form__field"
      name="question"
      id=""
      placeholder="Текст обращения*"
      required
    ></textarea>
    <input class="form__field" type="name" name="name" placeholder="Ваше ФИО*" required />
    <input class="form__field" type="tel" name="phone" placeholder="Ваш телефон*" required />
    <input class="form__field" type="email" name="email" placeholder="E-mail*" required />
    <input
      class="form__field"
      type="text"
      placeholder="Почтовый адрес*"
      name="address"
      required
    />
    <input
      class="form__field"
      type="file"
      name="file"
      placeholder="Прикрепите файл"
      id="file"
    />
    <label for="file">
      <p class="form__field">
        Прикрепите файл
      </p>
      <span>
        При необходимости прикрепите файл
      </span>
    </label>
    <div class="dropmenu">
      <div class="dropdown reception__dropdown">
        <p class="select form__field">
          <span>
            Выберите депутата, к которому хотите обратиться*
          </span>
          <img src="svg/mark.svg" />
        </p>
        <input type="hidden" name="deput" required/>
        <ul class="dropdown-menu">
          <li id="deputie-1">
            Депутат 1
          </li>
          <li id="deputie-2">
            Депутат 2
          </li>
          <li id="deputie-3">
            Депутат 3
          </li>
          <li id="deputie-4">
            Депутат 4
          </li>
        </ul>
      </div>
    </div>
    <input class="button" type="submit" id="submit" />
    <label for="submit">
      Нажимая на кнопку «Отправить», вы даете
      <span class="red">
        согласие
      </span>
      на обработку
        своих персональных данных.
    </label>
  </form>
</section>
<section class="find">
  <div class="find__wrapper d-flex">
    <div>
      <h2 class="title">
        Найди своего депутата
      </h2>
      <p class="find__text">
        Введите адрес своего проживания и узнайте, какой депутат отвечает за ваш округ!
      </p>
    </div>
    <form class="form" action="#">
      <input
        class="form__field"
        type="search"
        placeholder="Введите адерс своего проживания*"
      />
      <button class="button form__button">
        Найти
      </button>
    </form>
  </div>
  <div class="your-deputie">
    <h2 class="subtitle">
      Ваш депутат
    </h2>
    <div class="your-deputie__wrapper bg-gray bg-gray--border">
      <img class="your-deputie__photo" src="img/corpus.jpg" />
      <header class="your-deputie__header d-flex">
        <div>
          <h3 class="your-deputie__name">
            Антонов Эдуард Юрьевич
          </h3>
          <p class="your-deputie__post">
            МАУ СШ «Юность», директор
          </p>
        </div>
        <img src="img/edro.png" />
      </header>
      <p class="your-deputie__desc">
        Антонов Эдуард Юрьевич, директор спортивной школы «Юность». 40 лет. Живёт и работает в
          Железногорске. Прошёл путь от тренера до руководителя спортивного учреждения.
          Воспитывает сына и дочь. Ведёт здоровый образ жизни, своим собственным примером
          пропагандирует физическую культуру.
      </p>
      <footer class="your-deputie__footer">
        <p>
          <span class="red">
            График приема:
          </span>
          каждая среда месяца с 18 до 20 ГИМНАЗИЯ № 96
        </p>
        <p>
          <span class="red">
            Запись:
          </span>
          предварительная запись по телефону 8-913-199-65-67
        </p>
      </footer>
    </div>
  </div>
</section>