.staff {
  margin-bottom: 80px;
  padding: 0;

  div {
    text-align: justify;
  }
  h5 {
    font-weight: bold;
    font-size: 16px;
  }
  ul {
    margin-bottom: 35px;
  }
  li {
    position: relative;
    padding-left: 20px;

    &::before {
      position: absolute;
      content: '—';
      left: 0;
      color: $red;
    }
  }
}
.staff__desc {
  margin-bottom: 20px;
}
.staff__membership {
  li {
    padding: 0;
    &::before {
      content: '';
    }
  }
  a {
    display: block;
  }
}
.staff__member {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  min-width: 560px;

  li {
    text-align: left;
    line-height: 130%;
  }
}

@media (max-width: 1440px) {
  .staff p,
  .staff h5,
  .staff li {
    font-size: 14px;
  }
}
@media (max-width: 710px) {
  .staff__table {
    overflow-x: auto;
    box-shadow: inset -7px 0 12px -11px #686868;
  }
}
@media (max-width: 440px) {
  .staff {
    column-gap: 0px;
    margin-bottom: 50px;

    p,
    h5,
    li {
      font-size: 12px;
      line-height: 18px;
    }
    ul {
      margin-bottom: 25px;
    }
  }
}
